/*For Input*/
#input-section,
#simulation {
  width: 100%;
  height: 100%;
}

#input-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: bold larger Arial, Helvetica, sans-serif;
  padding-top: 200px;
}

#floors {
  margin-bottom: 100px;
}

.button{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit{
  cursor:pointer;
  height:60px;
  width:120px;
  background-color:rgb(251, 251, 251);
  border-radius: 10px;
  border: 1px solid black;
}

.submit:hover{
  background-color:rgb(177, 177, 177);
}

.submit:active{
  background-color:rgb(126, 128, 128);
}

#floors,#lifts{
  width:190px;
  border-radius:5px;
  border: 1px solid black;
}

/*For Simulation*/

#simulation {
  font: bold larger Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column-reverse;
  gap: 50px;
}

.sim-floors {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 150px;
}

.sim-floors:last-child {
  margin-top: 100px;
}

.button-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
  width: 80px;
  z-index: 1;
}


.floor-container {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.line {
  flex-grow: 1;
  border-top: 4px solid black;
  margin: 0 10px;
}

.floor-no {
  text-align: right;
  font-size: 18px;
  margin-top: 3px;
}

.up, .down {
  font-weight: 800;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  margin-bottom: 3px;
  cursor: pointer;
  display: flex;
}

.up {
  background: #00b300;
  color: black;
}

.up:hover {
  background: #00b3009a;
}

.up:active{
  background: #00b300e0;
}

.down {
  background: #ffcc00;
  color: black;
}

.down:hover{
  background: #ffcc00a4;
}

.down:active{
  background: #ffcc00d2;
}

#sim-lifts {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 90.3%; 
  margin-left: 90px;
  padding-top: 60px;
  scrollbar-width: none;
}

.lift {
  flex: 1;
  min-width: 60px;
  margin: 0 5px; 
  max-width: 45px;
  height: 75px;
  background: rgb(0, 153, 255);
}

.back{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  position:absolute;
  top:10px;
  right:10px;
  float:right;
  background:rgba(60, 0, 255, 0.522);
  padding: 7px;
  border-radius: 10px;
  border:none;
  padding-top:10px;
  padding-bottom:10px;
  cursor:pointer;
}

.back:hover{
  background: rgba(60, 0, 255, 0.381);
}

.back:active{
  background: rgba(60, 0, 255, 0.474);
}